<h1>New Payment</h1>

<%= simple_form_for(@payment,
                    as: :payment,
                    method: :post,
                    url: account_payments_path(@payment.from_account_id)) do |f| %>
  <%= f.input :description %>
  <%= f.input :to_account_reference %>
  <%= f.input :amount %>
  <%= f.submit 'Create payment' %>
<% end %>
